<%= form_with(model: citizen, local: true) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
      <% citizen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :citizen_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :citizen_last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :citizen_age %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :citizen_dob %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :citizen_gender %>
  </div>

  <div class="field">
    <%= form.label :origin_state %>
    <%= form.text_field :origin_state, id: :citizen_origin_state %>
  </div>

  <div class="field">
    <%= form.label :origin_city %>
    <%= form.text_field :origin_city, id: :citizen_origin_city %>
  </div>

  <div class="field">
    <%= form.label :origin_street %>
    <%= form.text_field :origin_street, id: :citizen_origin_street %>
  </div>

  <div class="field">
    <%= form.label :residence_state %>
    <%= form.text_field :residence_state, id: :citizen_residence_state %>
  </div>

  <div class="field">
    <%= form.label :residence_city %>
    <%= form.text_field :residence_city, id: :citizen_residence_city %>
  </div>

  <div class="field">
    <%= form.label :residence_street %>
    <%= form.text_field :residence_street, id: :citizen_residence_street %>
  </div>

  <div class="field">
    <%= form.label :contesting %>
    <%= form.check_box :contesting, id: :citizen_contesting %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :citizen_image %>
  </div>

  <div class="field">
    <%= form.label :signature %>
    <%= form.text_field :signature, id: :citizen_signature %>
  </div>

  <div class="field">
    <%= form.label :card_ready %>
    <%= form.check_box :card_ready, id: :citizen_card_ready %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
