<p id="notice"><%= notice %></p>

<%= render "citizens/partials/show_fields" %>

<p>
  <strong>Image:</strong>
  <%= image_tag(@citizen.image_url :thumb) if @citizen.image? %>
</p>

<%= link_to 'Download Pdf', download_vcard_citizen_path(@citizen), target: "_blank" %> |
<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %> |
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
